@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    gap: 20px;
    background-image: url(../assets/imagens/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Lato'; 
    color: white;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(200px, 80%, 500px);
    height: clamp(340px, 50vh, 450px);
    margin-top: 45px;
    position: relative;

    background-image: url(../assets/imagens/background2-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-radius: 10px;  
}

h1 {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.info-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 20px;
    margin-top: -40px;
    font-size: clamp(17px, 2.5vw, 20px);
}

.mensagem-erro {
   position: fixed;
   font-size: clamp(13px, 3vw, 16px);
   background-color: rgb(218, 41, 41);
   padding: 14px 15px;
   font-weight: bold;
   border-radius: 6px;
   width: clamp(210px, 55vw, 300px);
 
   right: 10px;
   top: 20px;  
   animation: slideDown .4s ease, fadeOut 1s ease 3.5s forwards;
   
}

@keyframes slideDown {
    from {opacity: 0; transform: translateY(-20px); }
    to   {opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    to { opacity: 0; transform: translateY(-10px); }
}


#grauPrincipal {
  font-size: clamp(50px, 14vw, 70px);
  display: flex;
  align-items: start;
  gap: 2px;
  margin-left:20px; 
}

span{ 
    margin-top: 15px;
    font-size: 1.5rem;
}

img.nuvem{
    width: clamp(130px, 39vw, 160px);
    position: absolute;
    top: -50px;
    left: -32px;
    animation: flutuando 4s  linear infinite;
}

.campo-texto {
    display: flex;
    align-items: center;
    position: relative;
}

.campo-texto input {
    width: clamp(200px, 40vw, 300px);
    padding: 7px;
    border-radius: 8px;
    border: none;
}


.campo-texto  button {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 5px;
    background-color: transparent;
    border: none;
}

.campo-texto  button:active{
    transform: scale(0.8);
    transition: 0.1s;
}

.campo-texto  button>:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.conteudo-adicional {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    gap: 8px;
    width: clamp(230px, 94%, 450px);;
    height: clamp(42px, 6.8vh, 65px);
}

.conteudo-adicional  .infoClima {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: rgba(0, 0, 0, 0.416);
    flex-grow: 1;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: clamp(14px, 2vw, 16.5px)
}

.conteudo-adicional > div > img {width: clamp(22px, 4vw, 35px);}

div > .stats > h2 {
    font-weight: 300;
    font-size: clamp(14px, 2vw, 17px);
    margin-right: 5px;
}

div > .stats > p {margin-right: 5px;}

.box-section{ 
    display: flex;
    justify-content: center;
    gap: 9px;
    width: clamp(300px, 90%, 500px); 
    height: clamp(195px, 28vh, 220px); 
}

.box-section > div.box{
    flex-grow: 1;
    height: 100%;
    border-radius: 13px;
    background-color: #6c67d095;
    padding: 5px;
}

.box-section > div#horario > img {width: min(30px, 7vw, 45px); margin: 4px;}

#horario > div.conteudo-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-size: clamp(14px, 1.8vw, 17px);   
    text-align: center;
    
}

.conteudo-data > p:nth-child(1) { font-size: clamp(28px, 7.5vw, 40px);}

.conteudo-data > p:nth-child(4) {
    display: flex;
    font-size: clamp(16px, 3.5vw, 19px);
    margin-top: 4px; 
    margin-left: -7px;
    gap: 6px; 
}

p:nth-child(4) > img{ width: clamp(14px, 1vw, 18px); }

.box-section >  #sensacao-termica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(15px, 2.5vw, 18px);   
    text-align: center;
}

#sensacao-termica > img#icon-clima{
    width: clamp(80px, 25vw, 120px);
    margin-top: -3px;
    margin-bottom: -8px;
}

#sensacao-termica > p:nth-child(2) {
    font-size: clamp(25px, 7vw, 37px); 
}

#sensacao-termica > p:nth-child(3) {
   display: flex;
   flex-wrap: wrap-reverse;
   align-content: center;
   justify-content: center;
   gap: 5px;
   padding: 10px;
}

#sensacao-termica > p > .icon-folha {
    width: clamp(13px, 1.8vw, 19px);
}

.previsao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width:  clamp(300px, 95%, 500px);
    height: clamp(135px, 15.5vh, 200px);
    background-color: #6c67d095;
    border-radius: 13px;
    margin-bottom: 20px;
}

.card-previsao{
    flex-wrap: nowrap;
    text-align: center;
    font-size: clamp(14px, 3vw, 17px);
}


.card-previsao img {
    width: clamp(40px, 9.5vw, 60px);
    
}

@media  screen and (max-width: 320px) { 
    .conteudo-adicional {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        gap: 5px;
        height: clamp(40px, 6.5vh, 60px);
    }

    .conteudo-adicional > .infoClima {
        gap: 3px;
        font-size: clamp(10px, 1vw, 16px);
    }

    .conteudo-adicional > div > img {
        width: clamp(20px, 4vw, 45px);
        margin-left: 3px;
    }

    .conteudo-adicional > div > .stats > h2 {
        font-size: clamp(13px, 1vw, 17px);
        margin-right: 8px ;
    }
    
    .previsao {
        overflow-x: scroll;

    }

    .card-previsao{
        text-align: center;
        font-size: clamp(12px, 2.2vw, 14px);
        min-width: 35px;
    }
}

@media  screen and (min-width: 601px) {
    #sensacao-termica > img#icon-clima{
       width: clamp(80px, 23vw, 120px);
       margin-top: -10px;
       margin-bottom: -13px ;
    }

    #horario > div.conteudo-data {
       font-size: clamp(15px, 1.8vw, 17.4px);   
       text-align: center;
       margin-top: -8px;
    }
}

@media screen and (min-width: 1024px) {
    body {
       display: grid;
       grid-template-columns: 0.8fr 1fr;
       grid-template-rows: 1fr 0.8fr;  
       align-content: center;
       justify-content: center;
       column-gap: 25px;
    }

    main {
        width: clamp(200px, 80%, 400px);
        height: clamp(360px, 60vh, 480px);
        margin-top: 0px;  
        grid-row-start: 1;
        grid-row-end: 3;  
        justify-self: end;
    }

    img.nuvem{
       width: clamp(100px, 30vw, 180px);
       position: absolute;
       top: -60px;
       left: -39px;
    }
   
   .box-section{ 
        display: flex;
        justify-content: center;
        width: clamp(300px, 90%, 500px); 
        height: clamp(195px, 34vh, 250px); 
        gap: 18px;
        
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
        align-self: flex-end;
        margin-top: 8px;
    } 

    .previsao {
        gap: 20px;
        width:  clamp(300px, 90%, 500px);
        height: clamp(150px, 16vh, 160px);

        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
        align-self: flex-start;
    }

    #horario > div.conteudo-data {margin-top: 15px;}
}

@keyframes flutuando {
    from {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    to {transform: translateY(0px);}
}


